/* место для вашего кода */
header {
    padding: 92px 50px 96px 50px;
    display:grid;
    grid-template-columns: 1fr min-content 1fr;
    align-items: center;
    font-size: 18px;
    font-weight: 400;
    text-underline-offset: 4px;
    nav {
        ul {
            display: flex;
            gap: 30px;
            list-style: circle;
            li:first-child {
                list-style: none;
            }
        }
    }
}
adress {
    justify-self: end;
    line-height: 24.3px;
    max-width: 240px;
    padding-right: 10px;
    ul {
        list-style: none;
    }
}
.main_logo {
    display: block;
    img {
        display: block;
        width: 136px;
    }
}
    
.cover {
    background-image: url("../images/cover.jpg");
    position: relative;
    color: white;
    padding: 165px 50px 50px 50px;
    
}

h1 {
    font-size: 100px;
    font-weight: 700;
    line-height: 115%;
    letter-spacing: 30px;
    text-transform: uppercase;
    margin-bottom: 106px;
    
    span {
        display: block;
        margin-bottom: 20px;
        

    }
    .first_word {

    }
    .second_word {
        text-align: center;
        margin-left: 30px;
    }
    .third_word {
        text-align: end;
        margin-right: -30px;
    }
}

.description {
    font-size: 22px;
    font-weight: 400;
    line-height: 28px;
    text-transform: uppercase;
    display: flex;
    justify-content: space-between;
    align-items: center;
    word-spacing: 19px;
    letter-spacing: 0;
    button {
        height: 50px;
        width: 256px;
        display: flex;
        justify-content: center;
        align-items: center;
        font-size: inherit;
        font-weight: inherit;
        line-height: inherit;
        text-transform: inherit;
        color: inherit;
        background-color: transparent;
        border: 1px solid white;
    }
}

.overlay:before {
    content: "";
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    left: 0;
    background-color: rgba(0,0,0,.6);
    z-index: 0;

}
.cover_wraper {
    position: relative;
  
}

.description {

}

.lots {

}

.about {

}

.social {

}

